*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

body{
    font-size: 16px;
    font-weight: 400;
    font-family: "Outfit", sans-serif;
    line-height: 26px;
}

li{
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    font-weight: 600;
}

/* btn */
.mg-btn-primary {
    background: #6C1684;
    color: #fff;
    padding: 16px 20px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 600;
    transition: .4s;
}


/*===================================
                menu css
 ========================== */
.mg-menu ul {
    margin: 0;
    padding: 0;
}

.mg-menu ul li {
    display: inline-block;
    padding: 15px 0;
}

.mg-menu ul li a {
    color: #333;
    margin: 0 22px;
}

.mg-header {
    padding: 20px 0;
}

/*===================================
                Banner css
 ========================== */
 .mg-header-bg{
    background-image:url(../img/bg/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
 .mg-hero-subtitle {
    background: #fff;
    display: inline-block;
    padding: 8px 12px;
    color: #6C1684;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    border-radius: 4px;
    margin-bottom: 16px;
}
.mg-hero-title {
    color: #080817;
    font-size: 52px;
    line-height: 60px;
    margin-bottom: 16px;
}

.mg-hero-content p {
    color: #4C4C5A;
}
.mg-hero-btn {
    margin-top: 32px;
}

.mg-hero-content {
    padding-top: 200px;
    padding-bottom: 160px;
}

 /*===================================
                about css
 ========================== */
 .mg-about-title {
    font-size: 28px;
    line-height: 28px;
    padding-bottom: 16px;
    transition: .3s;
}

.mg-about-box{
    padding: 32px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: .3s;
}
.mg-about-icon {
    display:block;
    height: 48px;
    width: 48px;
    background: #D3B9DA;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    margin-right: 20px;
}

.mg-about-icon span {
    height: 24px;
    width: 24px;
    background: #6C1684;
    display: inline-block;
    line-height: 24px;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    transition: .3s;
}
.mg-about-content p {
    color: #525856;
    font-size: 20px;
    line-height: 30px;
    transition: .3s;
}

.mg-about-box:hover{
    background: #6C1684;
    transition: .3s;
}
.mg-about-box:hover .mg-about-title{
    color: #fff;
    transition: .3s;
}
.mg-about-box:hover .mg-about-content p{
    color: #fff;
    opacity: .8;
    transition: .3s;
}
.mg-about-box:hover .mg-about-icon span{
    background: #fff;
    transition: .3s;
    color: #88429B;
}




 /*===================================
                Message box css
 ========================== */
 .mg-meg-box-content {
    background: #fff;
    border-radius: 4px;
    padding: 24px;
    transition: .3s;
}

.mg-box-icon span {
    background: #6C1684;
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    margin-right: 8px;
    transition: .3s;
}
.mg-meg-box-text span {
    color: #080817;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    transition: .3s;
}

.mg-meg-box-text p {
    font-size: 20px;
    line-height: 28px;
    color: #4C4C5A;
    transition: .3s;
}


.mg-meg-box-content:hover{
    background: #6C1684;
    transition: .3s;
}
.mg-meg-box-content:hover .mg-box-icon span {
    background: #fff;
    color: #6C1684;
    transition: .3s;
}
.mg-meg-box-content:hover .mg-meg-box-text span{
    color: #fff;
    transition: .3s;
}
.mg-meg-box-content:hover .mg-meg-box-text p {
    color: #fff;
    opacity: .9;
    transition: .3s;
}




 /*===================================
                work section css
 ========================== */
 .mg-sec-title p {
    color: #4C4C5A;
}
.mg-work-box {
    background: #F5F5F5;
    border-radius: 4px;
    padding: 32px;
    transition: .3s;
}

.mg-wo-icon span {
    background: #6C1684;
    height: 70px;
    width: 70px;
    display: inline-block;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    margin-right: 16px;
    transition: .3s;
}

.mg-work-title {
    font-size: 24px;
    line-height: 24px;
    color: #080817;
    transition: .3s;
    padding-bottom: 16px;
}

.mg-work-content p{
    transition: .3s;
}
.mg-work-box:hover{
    background: #6C1684;
    transition: .3s;
}
.mg-work-box:hover .mg-wo-icon span{
    background: #fff;
    transition: .3s;
}
.mg-work-box:hover .mg-work-title{
    color: #fff;
    transition: .3s;
}
.mg-work-box:hover  .mg-work-content p{
    color: #fff;
    opacity: .8;
    transition: .3s;
}
.mg-work-box:hover .mg-wo-icon span img{
    filter: brightness(0) invert(1);
}
.mg-work-img {
    position: relative;
    right: 120px;
}
.mg-work-box:nth-child(even) {
    margin-left: 60px;
    margin-right: -60px;
}

.mg-work-img-2 {
    right: inherit;
    left: 120px;
}
.mg-work-box.mg-work-box-2:nth-child(even) {
    margin-right: 60px;
    margin-left: -60px;
}
.food-1 {
    right: 0;
    top: -90px;
}




/* video section css */
.mg-video-area {
    background: rgb(108,22,132);
    background: linear-gradient(90deg, rgba(108,22,132,1) 0%, rgba(255,184,0,1) 100%);
    height: 450px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mg-vid-icon span {
    background: #fff;
    height: 84px;
    width: 84px;
    display: inline-block;
    font-size: 26px;
    line-height: 84px;
    text-align: center;
    border-radius: 50%;
    color: #6C1684;
}
.mg-vid-sec p{
    font-size: 24px;
    line-height: 24px;
    margin-top: 16px;
    font-weight: 500;
    display: block;
}
 /*===================================
                Pricing Plan
 ========================== */
 .mg-price-btn a {
    width: 100%;
    text-align: center;
}

.mg-pricing-box {
    background: #fff;
    padding: 32px;
}

.mg-pricing-box-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #4C4C5A;
    padding-bottom: 12px;
}

.mg-pricing-box-heading {
    font-size: 40px;
    line-height: 40px;
    color: #080817;
}

.mg-pricing-box-heading span {
    color: #4C4C5A;
    font-size: 18px;
    font-weight: 500;
}

.mg-price-box-content p {
    color: #4C4C5A;
    font-size: 16px;
    line-height: 24px;
}

.mg-price-box-content {
    margin-bottom: 90px;
}

.mg-price-icon span {
    background: #6C1684;
    color: #fff;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    display: block;
    font-size: 10px;
    border-radius: 50%;
    margin-right: 6px;
}

.mg-pric-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #080817CC;
    opacity: .8;
}

.mg-pric-text {
    display: flex;
    padding-bottom: 20px;
}
.food-2 {
    top: -160px;
}




 /*===================================
                menu cta
 ========================== */
 .mg-ic-box {
    padding: 24px 40px;
}

.mg-icon {
    display: inline-block;
}
 .mg-section-title{
    font-size: 40px;
    line-height: 48px;
 }
 .ic-bg {
    background: #88429B;
    height: 80px;
    width: 80px;
    line-height: 80px;
    border-radius: 50%;
}
.mg-box-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 16px;
}

.mg-box-content p {
    color: #E5D5E9;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 28px;
}

.mg-read-more {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
}
.mg-cta-shape {
    bottom: 0;
}

 /*===================================
                footer css
 ========================== */
.mg-b-bg{
    background: #080817;
}
.mg-ft-content p {
    color: #fff;
    opacity: .9;
}
.mg-title {
    font-size: 24px;
    line-height: 24px;
}
.mg-title {
    font-size: 24px;
    line-height: 24px;
}

.mg-ft-menu ul {
    margin: 0;
    padding: 0;
}

.mg-ft-menu ul li {
    margin: 0;
    padding: 0;
    display: block;
}

.mg-ft-menu ul li a {
    margin: 0;
    color: #CECED1;
    padding-bottom: 15px;
    display: block;
    transition: .3s;
}
.mg-ofice-title {
    font-size: 16px;
    line-height: 16px;
}
.mg-ifoc-icon {
    margin-right: 12px;
}

.mg-ofic-text p{
    color: #CECED1;
}
.widget-4 {
    margin-left: 150px;
}

.widget-3 {
    margin-left: 50px;
}